In [ ]:
# import requests
# import io
# import pandas as pd
# import pyarrow.parquet as pq

# # Base URL
# base_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-'

# # Columns to keep (updated to match the correct schema)
# columns_to_keep = ['tpep_pickup_datetime', 'passenger_count']

# # Initialize an empty list to store dataframes
# dfs = []

# # Generate file URLs for each month from 01 to 12 and read the Parquet files
# for month in range(1, 3):
#     url = f"{base_url}{month:02}.parquet"
#     response = requests.get(url)
#     response.raise_for_status()  # Check if the request was successful
#     with io.BytesIO(response.content) as f:
#         table = pq.read_table(f, columns=columns_to_keep)
#         df = table.to_pandas()
#         dfs.append(df)

# # Concatenate all dataframes
# combined_df = pd.concat(dfs)

# # Ensure pickup_datetime is in datetime format
# combined_df['tpep_pickup_datetime'] = pd.to_datetime(combined_df['tpep_pickup_datetime'])

# # Extract the year, month, and day
# combined_df['year_month_day'] = combined_df['tpep_pickup_datetime'].dt.to_period('D')

# # Group by 'year_month_day' and get the result as a DataFrame
# result = combined_df.groupby('year_month_day').size().reset_index(name='count')

# # Convert 'year_month_day' back to datetime
# result['year_month_day'] = result['year_month_day'].dt.to_timestamp()

# # Define the date range
# start_date = '2024-01-01'
# end_date = '2024-02-29'

# # Select rows where the date in column 'a' is between the start and end dates
# filtered_df = result[result['year_month_day'].between(start_date, end_date)]

# # Save the result as a CSV file
# filtered_df.to_csv('combined_yellow_tripdata_daily_counts_2011.csv', index=False)

# print("CSV file saved successfully.")

CSV file saved successfully.

In [ ]:
# import requests
# import io
# import pandas as pd
# import math
# import pyarrow.parquet as pq

# # Haversine formula to calculate the distance between two coordinates
# def haversine(lat1, lon1, lat2, lon2):
#     R = 6371000  # Radius of the Earth in meters
#     phi1 = math.radians(lat1)
#     phi2 = math.radians(lat2)
#     delta_phi = math.radians(lat2 - lat1)
#     delta_lambda = math.radians(lon2 - lon1)
#     a = math.sin(delta_phi / 2.0) ** 2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda / 2.0) ** 2
#     c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
#     distance = R * c
#     return distance

# # Function to check if a coordinate is within 100 meters of a reference point
# def is_within_100m(row, ref_lat, ref_lon):
#     return haversine(ref_lat, ref_lon, row['dropoff_latitude'], row['dropoff_longitude']) <= 100

# # Base URL
# base_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-'

# # Initialize an empty list to store dataframes
# dfs = []

# # Generate file URLs for each month from 01 to 12 and read the Parquet files
# for month in range(1, 2):
#     url = f"{base_url}{month:02}.parquet"
#     response = requests.get(url)
#     response.raise_for_status()  # Check if the request was successful
#     with io.BytesIO(response.content) as f:
#         table = pq.read_table(f)
#         df = table.to_pandas().sample(frac=0.1)
#         dfs.append(df)


# # Concatenate all dataframes
# combined_df = pd.concat(dfs)


# # Predefined reference coordinate
# ref_lat, ref_lon = 40.71493372725436, -74.01448073261324

# # Apply the filtering function to the DataFrame
# df_filtered = df[df.apply(is_within_100m, axis=1, ref_lat=ref_lat, ref_lon=ref_lon)]

# # Save the result as a CSV file
# df_filtered.to_csv('combined_yellow_tripdata.csv', index=False)

# print("CSV file saved successfully.")

In [1]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Navigate to the folder
%cd /content/drive/My Drive/resume_project/Time_series

Mounted at /content/drive
/content/drive/My Drive/resume_project/Time_series

In [14]:
# file_name = 'yellow_tripdata_2019-12.parquet'

# import pyarrow.parquet as pq
# trips = pq.read_table(file_name)
# trips = trips.to_pandas()

# fraction = 0.1

# # Sample 10% of the rows
# sampled_df = trips.sample(frac=fraction)

# import os

# # Extract the file name without extension
# file_name = os.path.splitext(os.path.basename(file_name))[0]


# # Define the file path for the CSV file with the same name
# csv_file_path = f'{file_name}.csv'

# # Save the DataFrame as a CSV file
# sampled_df.to_csv(csv_file_path, index=False)

In [15]:
import pandas as pd
import os


# List of CSV file paths in Google Drive
csv_file_paths = [
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-01.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-02.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-03.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-04.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-05.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-06.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-07.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-08.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-09.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-10.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-11.csv',
    '/content/drive/My Drive/resume_project/Time_series/yellow_tripdata_2019-12.csv',
    # Add more file paths as needed
]


# Read all CSV files into individual DataFrames
dataframes = [pd.read_csv(file_path) for file_path in csv_file_paths]

# Merge all DataFrames into a single DataFrame
merged_df = pd.concat(dataframes, ignore_index=True)

# Define the file path to save the merged DataFrame in the current folder
merged_csv_path = '/content/drive/My Drive/resume_project/Time_series/merged_data_2019.csv'

# merged_df = merged_df.sample(frac=0.1)

# Save the merged DataFrame as a CSV file
merged_df.to_csv(merged_csv_path, index=False)

print(f"Merged CSV file saved to: {merged_csv_path}")

Merged CSV file saved to: /content/drive/My Drive/resume_project/Time_series/merged_data_2019.csv

In [ ]:
# merged_df = merged_df.sample(frac=0.1)
# merged_df.to_csv(merged_csv_path, index=False)

In [ ]:
# import pandas as pd
# a = pd.read_csv('merged_data_2009.csv')

In [ ]:
# a.tail()

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt
584477,DDS,2009-12-17 21:05:57,2009-12-17 21:07:46,1,0.40,-73.951834,40.777770,NaN,NaN,-73.955955,40.772209,CASH,3.3,0.5,NaN,0.0,0.0,3.8
584478,VTS,2009-12-29 11:23:00,2009-12-29 11:38:00,1,0.97,-73.990105,40.741968,NaN,NaN,-73.981192,40.733992,CASH,8.9,0.0,0.5,0.0,0.0,9.4
584479,CMT,2009-12-07 20:34:16,2009-12-07 20:58:46,4,6.80,-73.981009,40.729849,NaN,0.0,-73.957138,40.806132,Credit,18.9,0.5,0.5,2.0,0.0,21.9
584480,VTS,2009-12-04 15:30:00,2009-12-04 15:48:00,1,2.86,-74.004040,40.716797,NaN,NaN,-73.985292,40.747675,CASH,11.3,0.0,0.5,0.0,0.0,11.8
584481,CMT,2009-11-29 18:26:12,2009-11-29 18:28:37,1,0.90,-73.961870,40.776556,NaN,0.0,-73.953512,40.786910,Cash,4.1,0.0,0.5,0.0,0.0,4.6

In [ ]:
# merged_csv_path = '/content/drive/My Drive/resume_project/Time_series/merged_data_1.csv'
# a_1 = a.sample(frac=0.1)
# a_1.to_csv(merged_csv_path, index=False)

In [ ]:
b = pd.read_csv('merged_data_2010.csv')

In [ ]:
b.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2010-10-03 19:11:25,2010-10-03 19:31:08,1,3.60,-73.991428,40.750137,1,N,-73.953426,40.779942,CRD,12.9,0.0,0.5,1.60,0.0,15.00
1,VTS,2010-12-15 12:00:00,2010-12-15 12:06:00,5,1.32,-74.014172,40.714530,1,NaN,-74.010188,40.704755,CSH,5.7,0.0,0.5,0.00,0.0,6.20
2,CMT,2010-03-06 19:30:58,2010-03-06 19:43:07,1,1.90,-74.003771,40.707834,1,0.0,-73.998241,40.729526,Cas,8.5,0.0,0.5,0.00,0.0,9.00
3,CMT,2010-09-25 13:26:41,2010-09-25 13:37:45,1,2.00,-73.985411,40.778256,1,N,-73.969408,40.760680,CRD,8.1,0.0,0.5,1.72,0.0,10.32
4,CMT,2010-06-04 04:47:09,2010-06-04 04:54:35,1,2.90,-73.964864,40.760421,1,0.0,-73.928451,40.760896,Cas,8.9,0.5,0.5,0.00,0.0,9.90

In [ ]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584482 entries, 0 to 584481
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendor_name            584482 non-null  object
 1   Trip_Pickup_DateTime   584482 non-null  object
 2   Trip_Dropoff_DateTime  584482 non-null  object
 3   Passenger_Count        584482 non-null  int64
 4   Trip_Distance          584482 non-null  float64
 5   Start_Lon              584482 non-null  float64
 6   Start_Lat              584482 non-null  float64
 7   Rate_Code              0 non-null       float64
 8   store_and_forward      259348 non-null  float64
 9   End_Lon                584482 non-null  float64
 10  End_Lat                584482 non-null  float64
 11  Payment_Type           584482 non-null  object
 12  Fare_Amt               584482 non-null  float64
 13  surcharge              584482 non-null  float64
 14  mta_tax                298279 non-null  float64
 15  Tip_Amt                584482 non-null  float64
 16  Tolls_Amt              584482 non-null  float64
 17  Total_Amt              584482 non-null  float64
dtypes: float64(13), int64(1), object(4)
memory usage: 80.3+ MB

In [ ]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690012 entries, 0 to 1690011
Data columns (total 18 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   vendor_id           1690012 non-null  object
 1   pickup_datetime     1690012 non-null  object
 2   dropoff_datetime    1690012 non-null  object
 3   passenger_count     1690012 non-null  int64
 4   trip_distance       1690012 non-null  float64
 5   pickup_longitude    1690012 non-null  float64
 6   pickup_latitude     1690012 non-null  float64
 7   rate_code           1690012 non-null  int64
 8   store_and_fwd_flag  805704 non-null   object
 9   dropoff_longitude   1690012 non-null  float64
 10  dropoff_latitude    1690012 non-null  float64
 11  payment_type        1690012 non-null  object
 12  fare_amount         1690012 non-null  float64
 13  surcharge           1690012 non-null  float64
 14  mta_tax             1690012 non-null  float64
 15  tip_amount          1690012 non-null  float64
 16  tolls_amount        1690012 non-null  float64
 17  total_amount        1690012 non-null  float64
dtypes: float64(11), int64(2), object(5)
memory usage: 232.1+ MB

In [ ]:
a.columns

Index(['vendor_name', 'Trip_Pickup_DateTime', 'Trip_Dropoff_DateTime',
       'Passenger_Count', 'Trip_Distance', 'Start_Lon', 'Start_Lat',
       'Rate_Code', 'store_and_forward', 'End_Lon', 'End_Lat', 'Payment_Type',
       'Fare_Amt', 'surcharge', 'mta_tax', 'Tip_Amt', 'Tolls_Amt',
       'Total_Amt'],
      dtype='object')

In [ ]:
b.columns

Index(['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count',
       'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount',
       'tolls_amount', 'total_amount'],
      dtype='object')

In [ ]:
# Get data types of corresponding columns
df1_dtypes = a.dtypes
df2_dtypes = b.dtypes

# Compare data types of columns at the same positions
matching_columns = [i for i in range(len(a.columns)) if df1_dtypes[i] == df2_dtypes[i]]

# Filter columns with matching data types
df1_filtered = a.iloc[:, matching_columns]
df2_filtered = b.iloc[:, matching_columns]

# Rename df2 columns to match df1 columns
df2_filtered.columns = df1_filtered.columns

# Concatenate the filtered dataframes
concatenated_df = pd.concat([df1_filtered, df2_filtered], ignore_index=True)

print("Concatenated DataFrame based on matching data types at the same positions:")
print(concatenated_df)

Concatenated DataFrame based on matching data types at the same positions:
        vendor_name Trip_Pickup_DateTime Trip_Dropoff_DateTime  \
0               DDS  2009-12-24 23:03:26   2009-12-24 23:09:52
1               CMT  2009-12-02 10:11:41   2009-12-02 10:32:39
2               VTS  2009-10-18 04:17:00   2009-10-18 04:38:00
3               VTS  2009-10-29 06:46:00   2009-10-29 07:00:00
4               CMT  2009-11-16 16:22:53   2009-11-16 16:28:07
...             ...                  ...                   ...
2274489         VTS  2010-03-17 12:54:00   2010-03-17 13:11:00
2274490         CMT  2010-04-23 01:17:17   2010-04-23 01:24:01
2274491         CMT  2010-06-16 19:33:21   2010-06-16 19:42:02
2274492         VTS  2010-06-06 07:45:00   2010-06-06 07:51:00
2274493         DDS  2010-01-24 00:13:28   2010-01-24 00:21:52

         Passenger_Count  Trip_Distance  Start_Lon  Start_Lat    End_Lon  \
0                      2           0.40 -73.923597  40.764388 -73.921488
1                      2           2.60 -73.983690  40.744780 -74.008101
2                      5           6.08 -73.990267  40.689038 -73.962625
3                      1           3.72 -73.994460  40.719233 -73.980423
4                      1           1.70 -74.010317  40.720424 -74.007537
...                  ...            ...        ...        ...        ...
2274489                2           2.13 -73.968675  40.755032 -73.959797
2274490                2           2.20 -73.989023  40.760242 -74.002875
2274491                2           2.30 -74.017634  40.705015 -73.999363
2274492                1           1.44 -73.976853  40.774943 -73.973218
2274493                2           2.40 -73.977850  40.763552 -73.979903

           End_Lat Payment_Type  Fare_Amt  surcharge  mta_tax  Tip_Amt  \
0        40.760083         CASH       3.7        0.5      NaN      0.0
1        40.711971         Cash      12.5        0.0      0.5      0.0
2        40.758923         CASH      17.3        0.5      NaN      0.0
3        40.761632       Credit      11.7        0.0      NaN      2.0
4        40.743017         Cash       6.5        1.0      0.5      0.0
...            ...          ...       ...        ...      ...      ...
2274489  40.779005          CSH      10.5        0.0      0.5      0.0
2274490  40.733462          Cas       7.3        0.5      0.5      0.0
2274491  40.733785          Cas       7.7        1.0      0.5      0.0
2274492  40.791120          CAS       6.1        0.0      0.5      0.0
2274493  40.749563          CAS       7.7        0.5      0.5      0.0

         Tolls_Amt  Total_Amt
0              0.0        4.7
1              0.0       13.0
2              0.0       17.8
3              0.0       13.7
4              0.0        8.0
...            ...        ...
2274489        0.0       11.0
2274490        0.0        8.3
2274491        0.0        9.2
2274492        0.0        6.6
2274493        0.0        8.7

[2274494 rows x 16 columns]

In [ ]:
concatenated_df.columns

Index(['vendor_name', 'Trip_Pickup_DateTime', 'Trip_Dropoff_DateTime',
       'Passenger_Count', 'Trip_Distance', 'Start_Lon', 'Start_Lat', 'End_Lon',
       'End_Lat', 'Payment_Type', 'Fare_Amt', 'surcharge', 'mta_tax',
       'Tip_Amt', 'Tolls_Amt', 'Total_Amt'],
      dtype='object')

In [ ]:
merged_csv_path = '/content/drive/My Drive/resume_project/Time_series/merged_data.csv'
concatenated_df.to_csv(merged_csv_path, index=False)

In [ ]:
c = pd.read_csv('merged_data.csv')
c.head()

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt
0,DDS,2009-12-24 23:03:26,2009-12-24 23:09:52,2,0.40,-73.923597,40.764388,-73.921488,40.760083,CASH,3.7,0.5,NaN,0.0,0.0,4.7
1,CMT,2009-12-02 10:11:41,2009-12-02 10:32:39,2,2.60,-73.983690,40.744780,-74.008101,40.711971,Cash,12.5,0.0,0.5,0.0,0.0,13.0
2,VTS,2009-10-18 04:17:00,2009-10-18 04:38:00,5,6.08,-73.990267,40.689038,-73.962625,40.758923,CASH,17.3,0.5,NaN,0.0,0.0,17.8
3,VTS,2009-10-29 06:46:00,2009-10-29 07:00:00,1,3.72,-73.994460,40.719233,-73.980423,40.761632,Credit,11.7,0.0,NaN,2.0,0.0,13.7
4,CMT,2009-11-16 16:22:53,2009-11-16 16:28:07,1,1.70,-74.010317,40.720424,-74.007537,40.743017,Cash,6.5,1.0,0.5,0.0,0.0,8.0

In [ ]:
c['Rate_Code'].value_counts()

Series([], Name: count, dtype: int64)